# Rust/Cargo
/target/
**/*.rs.bk
Cargo.lock
# IDE/editor
.idea/
.vscode/
*.swp
*.swo
*.bak
*.tmp
*.log
# OS
.DS_Store
Thumbs.db
# Coverage
coverage/
tarpaulin-report.html
proptest-regressions/
# Misc
*.old
*.orig
*.rej
# Byproducts
*.profraw
*.profdata
node_modules/
react-spectrogram/web-spectrogram/static/
react-spectrogram/web-spectrogram/pkg/
react-spectrogram/web-spectrogram/app/dist/
